# Shared
NODE_ENV=development

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fintech
POSTGRES_USER=fintech
POSTGRES_PASSWORD=fintech

# API
API_PORT=4000
JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
CORS_ALLOWLIST=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me

# Web
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:4000
